h1
{
	margin: 0;
	margin-left: 280px;
	padding: 0px 0px 10px 0px;
	color: #123155;
}

h2
{
	margin: 0;
	padding: 0px 0px 0px 0px;
	color: #123155;
}

.links
{
	color: #123155;
}

.nav
{
	text-decoration: none;
	color: #0B1F36;
}

section
{
	float: left;
	width: 600px;
	padding: 20px 20px 0px 20px;
}

aside
{
	float: left;
	width: 139px;
	height: 425px;
	border-left: 1px solid #123155;
	background: #395B83;
	padding: 10px;
}

body
{
	background: #E4C696;
	font-family: "Trebuchet MS", sans-serif;
}

.container
{
	margin: 0 auto;
	width: 800px;
	background: #85A0C1;
	border: 1px solid #123155;
	margin-top: 10px;
}

footer
{
	/*footer exists to correctly size the container*/
	clear: both;
}

.navUL
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navLI
{
	width: 70px;
	margin: 10px 0px 10px 20px;
	padding: 2px;
}

img
{
	border: 1px solid #123155;
	margin: 10px 0;
	float: left;
	margin-right: 20px;
}

p
{
	margin: 10px 0px;
	color: #123155;
}

.top
{
	width: 770px;
	border-bottom: 1px solid #123155;
	background: #6F94C1;
	padding: 15px 15px 5px 15px;
}

.bottom
{
	width: 800px;
	background: #384C62;
	border-top: 1px solid #123155;
	padding: 5px 0px 20px 0px;
}

.bottUL
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.bottLI
{
	float: left;
	display: block;
	width: 75px;
	margin: 0px 25px 0px 0px;
	padding: 0px;
}

.sec2
{
	margin-left: 250px;
}

#bot1
{
	text-decoration: none;
	color: #0B1F36;
}

#bot2
{
	text-decoration: none;
	color: #0B1F36;
	margin-left: 10px;
}

#bot3
{
	text-decoration: none;
	color: #0B1F36;
	margin-left: 6px;
}
