h1
{
	margin: 0;
	padding: 0px 0px 20px 0px;
	color: #31312e;
}

.links
{
	color: #31312e;
}

.nav
{
	text-decoration: none;
	color: #31312e;
}

body
{
	background: #221f1f;
	font-family: "Helvetica", sans-serif;
}

.container
{
	margin: 0 auto;
	width: 800px;
	background: #b8b9c8;
	border: 5px solid #31312e;
	padding: 15px;
}

.navUL
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navLI
{
	float: left;
	display: block;
	width: 100px;
	border: 5px solid #31312e;
	margin: 0px 5px 0px 0px;
	padding: 2px;
}

img
{
	border: 5px solid #31312e;
	margin: 10px 0;
}

p
{
	margin: 10px 0px;
	color: #31312e;
}