<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv=Content-type" content="text/html; charset=utf-8">
	<title>Double</title>
	<style type="text/css" media="screen">
	.wrap
	{
		margin: 0 auto;
		width: 800px;
	}
	
	section
	{
		width: 475px;
		margin-right: 25px;
		float: left;	
	}
	
	aside
	{
		width: 300px;
		float: left;
	}
	
	footer
	{
		clear: both;
		border-top: 1px solid #e3e3e3;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<p>jim scott is a dummy jim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummy</p>
			<p>so is michael scotjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyt</p>
		</section>
		<aside> 
			<p>vejeffjeffstevejeffjeffstevejeffje fjjeffstevejeffjeffstevejeffjeffsteve jeffjeffstevejeffjeffstevejeffjeffstevejeffj effstevejeffjeffstevejeffeffstevejeff jeffstevejeffjeffstevejeffj effstevejeffj ffstevej effjeffstevejeffjeffste vejefffs tevejefjeffstevejeffjeffstevejeffjeffstevejeff</p>
		</aside>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>