<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv=Content-type" content="text/html; charset=utf-8">
	<title>Gallery</title>
	<style type="text/css" media="screen">
	body
	{
		background: url(retina_wood.png);
	}
	
	.wrap
	{
		margin: 0 3%;
	}
	
	article
	{
		width: 200px;
		padding: 10px;
		margin: 10px;
		float: left;
		background: #f3f3f3;
		opacity: .7;
	}
	
	footer
	{
		clear: both;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<article>
			<h2>Title</h2>
				<p>uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..</p>
			</article>
			<article>
			<h2>Title</h2>
				<p>uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..</p>
			</article>
			<article>
			<h2>Title</h2>
				<p>uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..</p>
			</article>
			<article>
			<h2>Title</h2>
				<p>uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..</p>
			</article>
			<article>
			<h2>Title</h2>
				<p>uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..</p>
			</article>
			<article>
			<h2>Title</h2>
				<p>uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..</p>
			</article>
			<article>
			<h2>Title</h2>
				<p>uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..</p>
			</article>
			<article>
			<h2>Title</h2>
				<p>uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..uncle jeff and steve. What the heck;..</p>
			</article>
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>