<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv=Content-type" content="text/html; charset=utf-8">
	<title>Single</title>
	<style type="text/css" media="screen">
	.wrap
	{
		margin: 0 10%;
	}
	
	header, footer
	{
		background: #ccc;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<p>jim scott is a dummy jim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummy</p>
			<p>so is michael scott jim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummyjim scott is a dummy</p>
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>